.search{
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 49px;
    margin-bottom: 70px;
}
.search__wrapper{
    display: flex;
   flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    border-bottom: 1px solid #E8E8E8;
}
.search__input-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding-bottom: 15px;
    background-color: inherit;
}
.search__input{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #A0A0A0;
    background-color: #FDFDFD;
    border: none;
    box-sizing: border-box;
    text-align: center;  
    width: 100%;
}
.search__input:focus-visible {
   outline: #2BE080 1px solid;
}
.search__icon{
    background-image: url('../../images/search-img.svg');
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 11px;
    border:solid 1px #E8E8E8;
    border-radius: 48px;
}
.search__form{
    width: 100%;
}
.search__checkbox-name{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
}
.search__checkbox-input{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.search__checkbox-input:checked + .search__box{
    background-image: url('../../images/ball-btn.svg');
    background-color: #EBEBEB;
    background-position: 18px;
    transition: 0.5s linear;
}
.search__checkbox{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 194px;
    width: 100%;
}
.search__btn{
    background-image: url('../../images/search-btn.svg');
    width: 37px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 48px;
    border: none;
    cursor: pointer;
}
.search__btn:hover{
    transition: 0.5s linear;
    opacity: .6;
}
.search__box{
    width: 36px;
    height: 20px;
    background: #2BE080;
    border-radius: 20px;
    background-image: url('../../images/ball-btn-disabled.svg');
    background-repeat: no-repeat;
    
    background-position: 1px 2px;
    cursor: pointer;
    margin-right: 12px;
    transition: 0.5s linear;
}

@media screen and (max-width: 768px){
    .search{
        max-width: 708px;
        padding-bottom: 62px;
    }
    .search__input-wrapper{
        max-width: 100%;
    }
    .search__input{
        font-size: 28px;
        padding: 10px 19px;
    }
    .search__icon{
        margin-right: 15px;
    }
    .search__checkbox-name{
        font-size: 11px;
        line-height: 18px;
    }
    .search__checkbox{
        max-width: 171px;
    }
}

@media screen and (max-width: 470px){
    .search{
        max-width: 300px;
        padding-bottom: 41px;
        margin-bottom: 50px;
    }
    .search__wrapper{
        display: block;
        background-color: #fff;
        margin-bottom: 42px;
    }
    .search__input-wrapper{
        border: none;
        background-color: white;
        padding-bottom: 9px;
        align-items: flex-end;
       
       
    }
    .search__input{
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        padding: 0;
    }
    .search__icon{
        display: none;
    }
    .search__checkbox{
        margin: 0 auto;
        max-width: 153px;
    }
    .search__box{
        margin-right: 13px;
    }
}