.search__checkbox{
    width: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.search__checkbox-name{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
}
.search__checkbox-input{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.search__checkbox-input:checked + .search__box{
    background-image: url('../../images/ball-btn.svg');
    background-color: #EBEBEB;
    background-position: 18px;
    transition: 0.5s linear;
}
.search__box{
    width: 36px;
    height: 20px;
    background: #2BE080;
    border-radius: 20px;
    background-image: url('../../images/ball-btn-disabled.svg');
    background-repeat: no-repeat;
    background-position: 1px 1px;
    cursor: pointer;
    margin-right: 12px;
    transition: 0.5s linear;
}

@media screen and (max-width: 768px){
    .search__checkbox-name{
        font-size: 11px;
        line-height: 18px;
    }
    .search__checkbox{
        max-width: 171px;
    }
}

@media screen and (max-width: 470px){
    .search__checkbox{
        margin: 0 auto;
        max-width: 153px;
    }
    .search__box{
        margin-right: 13px;
    }
}